body {
    margin: 0;
    font-family: Verdana, sans-serif;
    line-height: 1.5em;
}

header {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #e5fffb;
    border-bottom: 3px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

h2, h3, h4, h5, h6 {
    margin: 0;
}

h2 {
    font-weight: normal;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
}

p {
    margin: 2px 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

input, button {
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

button:hover {
    background-color: #f0f0f0;
}

button:active {
    background-color: #e0e0e0;
}

input {
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
}

input:focus {
    outline: none;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 4px;
    padding: 0;
    background-color: #29292975;
    border: 1px solid black;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4px;
    height: 18px;
    border-radius: 25%;
    background-color: #000;
    margin-top: -8px;
    cursor: grab;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 4px;
    background: #000;
    background-color: #ffffff;
    border: 1px solid black;
}

button {
    padding: 5px 10px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
}

main {
    height: calc(100vh - 93px);
    display: flex;
}

hr {
    margin: 2px 0px;
}

.vertical-flex-align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horizontal-flex-align-center {
    display: flex;
    align-items: center;
}

.fitheader {
    height: 70px;
    padding: 5px;
}

.settings {
    height: 60px;
    padding: 5px;
}

.search {
    padding-left: 10px;
    border: none;
    border-radius: 10000px;
    width: 50%;
    height: 40px;
    margin: auto;
    font-size: 20px;
}

.user-profile-picture {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    margin: 4px 10px;
    border: 1px solid black;
    background: #0002;
}

.user-profile-container {
    width: 300px;
    max-width: max-content;
    border-radius: 10px;
    background-color: #dbe1e4;
    display: flex;
    margin-left: 10px;
    padding: 2px 4px 2px 2px;
    overflow: hidden;
    cursor: pointer;
}

.profile-dropdown {
    position: absolute;
    top: 80px;
    right: 5px;
    width: inherit;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.profile-dropdown a {
    padding: 2.5px 5px 2.5px 5px;
}

.rss-feeds-listing {
    display: flex;
    background-color: #f5f5f5;
    border-right: 3px solid black;
    padding: 5px;
    height: 100%;
    width: 22%;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    background-color: #fafafa;
    padding: 3px;
    border-radius: 5px;
    margin: 2px 0;
}

.feed-icon {
    width: 48px;
    height: 48px;
}

.hidden {
    display: none !important;
}

.settings-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 10px;
    padding: 10px;
    background-color: #fbfbfb;
    border-radius: 10px;
    border: 1px solid black;
}


.show-only-on-mobile {
    display: none;
}

@media (max-width: 600px) {
    .show-only-on-desktop {
        display: none;
    }
    .show-only-on-mobile {
        display: unset;
    }
}

.rss-feed {
    width: calc(78% - 70px);
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.rss-items-container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px);
    width: 100%;
    margin-left: 25px;
}

.rss-item {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    height: -webkit-fill-available;
    background: #f1f1f1;
    border-radius: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.rss-item-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 0 4px 0;
}

.rss-item-description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    flex-grow: 1;
}

.rss-item-footer {
    margin-top: auto;
    width: calc(100% - 20px);
}

.rss-item-date {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.login-container {
    margin: auto;
    padding: 40px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    text-align: center;
    width: 400px;
}

.vertical-align-middle {
    vertical-align: middle;
}

.image-button {
    width: 20%;
    height: 20%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.margin-20px {
    margin: 20px;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.column-align-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.column-align-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.settings-buttons {
    position: absolute;
    bottom: 34px;
    right: 30px;
}